---
import Logo from '../../images/logo.png';
import ApptDetails from './snippets/ApptDetails.astro';
import CxPolicy from './snippets/CxPolicy.astro';
---

<div class="mb-4 flex h-24 flex-row justify-center">
    <img src={Logo.src} alt="logo" />
</div>
<h1
    class="text-center font-bold uppercase leading-relaxed"
    x-bind:class="printModal ? 'mb-2' : 'mb-8'">
    Patient Instructions for <span x-text="procs[0].selected ? 'EGD/' : '' "
    ></span>Colonoscopy
</h1>
<ApptDetails />
<h2 class="mb-2 font-bold uppercase">What is a colonoscopy?</h2>
<p class="mb-2">
    After careful medical assessment, your physician has recommended that you
    have a colonoscopy. During the colonoscopy, a flexible fiberoptic tube
    (colonoscope) is passed through the rectum into the lower intestinal tract.
    This procedure allows the physician to examine the lining of the large
    intestine (colon) and to identify any abnormalities.
</p>
<p class="mb-2">
    You will be asked to sign a consent form authorizing the physician to
    perform the procedure.
</p>
<p class="mb-2">
    Please let the physician and the GI nurse know if you are allergic to any
    medications.
</p>
<p class="mb-2">
    A needle for intravenous (IV) medication will be placed in your arm vein
    before the procedure. Medication will be injected through this needle that
    will make you become sleepy and relaxed.
</p>
<p class="mb-2">
    As you lie on your left side, the doctor will examine your rectum with a
    gloved lubricated finger. Then the lubricated flexible colonoscope will be
    inserted, which will give you a mild sensation of wanting to move your
    bowels. As the colonoscope is carefully advanced through the colon, the
    physician will examine the bowel lining thoroughly. You may feel some
    cramping or gas due to the air which the physician is putting into the
    colon. You may be asked to change positions during the procedure to assist
    in passage of the colonoscope.
</p>
<p class="mb-2">
    Often, a biopsy specimen (tiny bit of tissue) is taken for microscopic
    examination. If you have a polyp, it may be removed by electrocautery
    through the colonoscope. You will not feel any sensation of discomfort when
    the biopsy is performed or the polyp is removed.
</p>
<p class="mb-2">
    Many people do not recall any of the procedures because of the effect of the
    medication. After the procedure, you will probably feel drowsy and may sleep
    for a short time. You may feel some bloating from the air inserted during
    the procedure. You will feel more comfortable if you expel this air.
</p>
<p class="mb-2">
    Before you leave, the physician will discuss the findings with you. The GI
    nurse or technician will give you written instructions to follow when you
    get home.
</p>
<p x-bind:class="printModal ? 'mb-4' : 'mb-8'">
    If you have any questions, please feel free to ask the physician, the GI
    nurse or technician.
</p>
<CxPolicy />
