---
import Logo from '../../images/logo.png';
import ApptDetails from './snippets/ApptDetails.astro';
import AddInst from './snippets/AddInst.astro';
import OTCMeds from './snippets/OTCMeds.astro';
import RxMeds from './snippets/RxMeds.astro';
import Transpo from './snippets/Transpo.astro';
import CxPolicy from './snippets/CxPolicy.astro';
---

<div class="mb-4 flex h-24 flex-row justify-center">
    <img src={Logo.src} alt="logo" />
</div>
<h1 class="mb-3 text-center font-bold uppercase leading-relaxed">
    Patient Instructions for EGD
</h1>
<ApptDetails />
<div class="mb-2">
    <OTCMeds />
</div>
<div class="mb-2">
    <RxMeds />
</div>
<div x-show="instructions.length" class="mb-2">
    <AddInst />
</div>
<div class="mb-2">
    <p class="mb-1 font-bold uppercase">
        The day of the examination (<span
            x-text="printModal ? '________________' : daysBeforeProc(0)"
        ></span>):
    </p>
    <p class="mb-1">
        Nothing to eat <span x-text=" isAfternoonProc ? '' : 'or drink ' "
        ></span>after 12:00 A.M., midnight, until after your procedure. <span
            x-show="isAfternoonProc"
            >Because your appointment is in the afternoon, you can have clear
            liquids up to 5 hours before the appointment time (up to <span
                x-text="hoursBeforeProc(5)"></span>).</span
        > Additionally, do not smoke during the same period of time.
    </p>
    <p>
        Report to the appropriate GI lab as indicated above. Wear comfortable
        clothing. Do not wear any jewelry except rings. Approximate time in GI
        lab is 2-3 hours.
    </p>
</div>
<div class="mb-2" x-show="selectedSedation !== 'no sedation'">
    <Transpo />
</div>
<p class="mb-6">
    If you have any questions regarding the above information, please call our
    office. If you are unable to keep this appointment, please notify our office
    at (562) 596-5552 as soon as possible.
</p>
<CxPolicy />
