---
import Logo from '../../images/logo.png';
import ApptDetails from './snippets/ApptDetails.astro';
import AddInst from './snippets/AddInst.astro';
import OTCMeds from './snippets/OTCMeds.astro';
import RxMeds from './snippets/RxMeds.astro';
import Transpo from './snippets/Transpo.astro';
---

<div class="mb-4 flex h-24 flex-row justify-center">
    <img src={Logo.src} alt="logo" />
</div>
<h1 class="mb-3 text-center font-bold uppercase leading-relaxed">
    Patient Instructions for EGD
</h1>
<ApptDetails />
<h2 class="mb-2 text-center font-bold uppercase">
    Preparation for the Upper Endoscopy (EGD)
</h2>
<div class="mb-2">
    <div class="mb-1">
        <OTCMeds />
    </div>
    <div>
        <RxMeds />
    </div>
    <div x-show="instructions.length" class="mt-1">
        <AddInst />
    </div>
</div>
<div class="mb-2">
    <p class="mb-1">
        <span class="font-bold uppercase">The day of the examination:</span>
         Nothing to eat or drink after 12:00 A.M., midnight, until after your
        procedure. If your appointment is in the afternoon, you can have clear
        liquids up to 5 hours before the appointment time. Additionally, do not
        smoke during the same period of time.
    </p>
    <p>
        Report to the appropriate GI lab as indicated above. Wear comfortable
        clothing. Do not wear any jewelry except rings. Approximate time in GI
        lab is 2-3 hours.
    </p>
</div>
<div class="mb-2">
    <Transpo />
</div>
<p class="mb-4">
    If you have any questions regarding the above information, please call our
    office. If you are unable to keep this appointment, please notify our office
    at (562) 596-5552 as soon as possible.
</p>
<h2 class="mb-2 text-center font-bold uppercase">Cancellation Policy</h2>
<p class="mb-8">
    Procedure cancellations/rescheduling must be done at least 10 days prior to
    the scheduled procedure date, or a $100.00 fee will be charged. This is not
    covered by your insurance company.
</p>
