---
import Logo from '../../images/logo.png';
import Consent from './Consent.astro';
import EGDCover from './EGDCover.astro';
import FlexSigCover from './FlexSigCover.astro';
import ColoCover from './ColoCover.astro';
import ModDiet from './ModDiet.astro';
import PrepInst from './PrepInst.astro';
---

<!-- flex container on each page div to center vertically when printing -->
<div
    id="packetCover"
    x-show="sendInstMethod !== 'email' && !printModal"
    class="flex h-screen break-after-page flex-col justify-center">
    <div class="mb-12 flex h-28 flex-row justify-center">
        <img src={Logo.src} alt="logo" />
    </div>
    <div class="mx-8 mb-20 text-[15px] leading-relaxed">
        <p>Dear patient,</p>
        <p x-html="packetCoverHtml()"></p>
    </div>
</div>

<div
    id="consent"
    x-show="printConsent && selectedProcs.length"
    class="flex h-screen flex-col justify-center"
    x-bind:class="(printCover || (printPrep && prep) || (printDiet && procs[1].selected)) ? 'break-after-page' : ''">
    <Consent />
</div>

<div
    id="EGDCover"
    x-show="procs[0].selected && (!procs[1].selected || !procs[2].selected) && printCover"
    class="flex h-screen flex-col justify-center">
    <EGDCover />
</div>

<div
    id="flexSigCover"
    x-show="!procs[1].selected && procs[2].selected && printCover"
    class="flex h-screen flex-col justify-center">
    <FlexSigCover />
</div>

<div
    id="coloCover"
    x-show="procs[1].selected && printCover"
    class="flex h-screen flex-col justify-center"
    x-bind:class="((printPrep && prep) || (printDiet && procs[1].selected)) ? 'break-after-page' : ''">
    <ColoCover />
</div>

<div
    id="coloPrep"
    x-show="procs[1].selected && prep && printPrep && physician"
    class="flex h-screen flex-col justify-center"
    x-bind:class="(printDiet && procs[1].selected) ? 'break-after-page' : ''">
    <PrepInst />
</div>

<div
    id="modDiet"
    x-show="procs[1].selected && printDiet"
    class="flex h-screen flex-col justify-center">
    <ModDiet />
</div>

<footer class="fixed bottom-0 w-full">
    <div class="mb-0.5 flex flex-row justify-center gap-6 font-bold">
        <span>Lisa Hertz, MD</span>
        <span>Kashyap Trivedi, MD</span>
        <span>Pavan Mankal, MD</span>
    </div>
    <div class="flex flex-row justify-center gap-4">
        <span>https://www.cgicare.com/</span>
        <span>4772 Katella Ave, Ste. 200, Los Alamitos, CA 90720</span>
        <span>Phone: (562) 596-5552</span>
        <span>Fax: (562) 596-5340</span>
    </div>
</footer>
