---
import Logo from '../../images/logo.png';
---

<div class="my-1 flex h-36 flex-row justify-center">
    <img src={Logo.src} alt="logo" />
</div>

<div class="text-base leading-none">
    <h1 class="mb-6 mt-1 text-center text-lg font-bold leading-normal">
        CapsoCam Plus&#174; Capsule Endoscopy Procedure Consent Form
    </h1>
    <p class="mb-4 uppercase">I consent to having capsule endoscopy.</p>

    <p class="mb-4">
        Capsule endoscopy is an endoscopic exam of the small intestine. It is
        not intended to examine the esophagus, stomach, or colon. It does not
        replace upper endoscopy or colonoscopy.
    </p>
    <p class="mb-4">
        I understand that there are risks associated with any endoscopic
        examination, such as BOWEL OBSTRUCTION. An obstruction may require
        additional medical intervention including immediate surgery.
    </p>
    <p class="mb-4">
        I am aware that I should avoid MRI examinations until the capsule passes
        through the system and is excreted and retrieved.
    </p>
    <p class="mb-4">
        I understand that due to variations in a body's intestinal motility, the
        capsule may only image part of the small intestine and this may result
        in the need to repeat the capsule procedure.
    </p>
    <p class="mb-4">
        I understand that images and data obtained from my capsule endoscopy may
        be used, under complete confidentiality, for educational purposes such
        as a reference library of images, in future medical studies, and in
        publications that may include pictures from capsule endoscopy tests
        without identifying me.
    </p>
    <p class="mb-4">
        I further understand my images and data may also be used by the
        manufacturer of the capsule for improving the capsule images in future
        designs and for adding new use for the capsule. (Example making a
        capsule that records images in other areas of the gastrointestinal
        tract.) The images and data used by the manufacturer for these
        activities will have all identity removed and will be stored in a secure
        location. Only select members of the manufacturer's clinical and
        technical teams will have access to these images.
    </p>
    <p class="mb-4">
        My physician has explained the procedure and its risks to me, along with
        alternatives of diagnosis and treatment, and I have been allowed to ask
        questions concerning the planned examination.
    </p>
    <p class="mb-4">
        I certify that I have read the above consent form, understand the
        information regarding the capsule endoscopy procedure and do hereby
        consent to this procedure.
    </p>

    <table>
        <tr class="h-8 align-bottom">
            <td>Patient Name:</td>
            <td class="w-80 border-b border-black"></td>
            <td>Date of Birth:</td>
            <td class="w-48 border-b border-black"></td>
        </tr>
    </table>
    <table class="mb-20">
        <tr class="h-10 align-bottom">
            <td>Patient Signature:</td>
            <td class="w-80 border-b border-black"></td>
            <td>Date:</td>
            <td class="w-48 border-b border-black"></td>
        </tr>
    </table>
</div>
