<h2 class="font-bold underline">Additional Instructions</h2>
<ul class="ml-2 list-disc pl-4">
    <template x-for="inst in instructions" :key="inst.id">
        <li x-text="inst.body"></li>
    </template>
</ul>
