<p class="mb-2 text-center">Appointment Details</p>
<table class="max-w-40 mx-auto mb-8">
    <tr>
        <td class="pb-1 pr-10 font-bold">Date</td>
        <td class="pb-1"><span x-text="procApptDate()"></span></td>
    </tr>
    <tr>
        <td class="pb-1 pr-10 font-bold">Arrival Time</td>
        <td class="pb-1"><span x-text="procApptArrival()"></span></td>
    </tr>
    <tr>
        <td class="pb-1 pr-10 font-bold">Start Time</td>
        <td class="pb-1"><span x-text="procApptTime()"></span></td>
    </tr>
    <tr>
        <td class="pb-1 pr-10 font-bold">Pickup Time</td>
        <td class="pb-1"
            ><span x-text="procApptPickup()"></span> (approximate)</td
        >
    </tr>
    <tr>
        <td class="pb-1 pr-10 font-bold">Facility</td>
        <td class="pb-1"><span x-text="selectedFacility.long"></span></td>
    </tr>
    <tr>
        <td class="pb-1 pr-10 font-bold">Address</td>
        <td class="pb-1"><span x-text="selectedFacility.address"></span></td>
    </tr>
    <tr x-show="selectedFacility.phone">
        <td class="pb-1 pr-10 font-bold">Phone</td>
        <td class="pb-1"><span x-text="selectedFacility.phone"></span></td>
    </tr>
    <tr x-show="selectedFacility.checkin">
        <td class="pb-1 pr-10 font-bold">Check In</td>
        <td class="pb-1"><span x-text="selectedFacility.checkin"></span></td>
    </tr>
</table>
