<h2 class="mb-2 font-bold uppercase">Cancellation Policy</h2>
<p class="mb-8">
    Procedure cancellations/rescheduling must be done at least 10 days prior to
    the scheduled procedure date or a $100.00 fee will be charged. This is not
    covered by your insurance company.
</p>
