<p class="font-bold">
    <span class="uppercase">5 days before your procedure</span>
     (<span x-text="proc5DaysPrior()"></span>): stop taking<span
        class="font-normal">...............</span
    >
</p>
<ul class="ml-2 list-disc pl-4">
    <li>
        Non-steroidal anti-inflammatory meds such as <span class="font-bold"
            >naproxen, ibuprofen, Advil, Aleve, Excedrin, or Motrin</span
        >
    </li>
    <li>
        Medications or vitamins containing <span class="font-bold">iron</span>
    </li>
    <li>
        <span class="font-bold">All vitamins, herbal medications,</span> and
        other supplements such as <span class="font-bold"
            >fish oil, Juice Plus,</span
        > etc.
    </li>
    <li>
        <span class="font-bold">Fiber supplements</span> like Citrucel/Metamucil
    </li>
</ul>
<p>
    You may continue vitamin D, potassium, and magnesium supplements. Tylenol
    can be taken for pain, if needed.
</p>
