<p class="font-bold">Continue all usual prescriptions as directed, EXCEPT:</p>
<ul class="ml-2 list-disc pl-4">
    <li>
        <span class="font-bold">Diabetes medications</span> (i.e. Insulin,
        Metformin, Jardiance, etc.) around procedure time should be clarified
        with the gastroenterologist or prescribing physician.
    </li>
    <li>
        <span class="underline">Hold</span>
        <span class="font-bold">GLP-1 agonists</span> (diabetes/weight loss
        medications) for 1 week prior to your procedure. These include but are
        not limited to: Ozempic, Mounjaro, Wegovy, Zepbound, Trulicity,
        Rybelsus, Saxenda, Bydureon, Byetta, Victoza, Adlyxin, Tranzeum,
        Soliqua, and Xultopy.
    </li>
    <li>
        <span class="font-bold">Blood thinning medications</span>
        <span class="underline">may need to be stopped</span> (i.e. Plavix
        (clopidogrel), Eliquis, Xarelto, Aspirin, Pradaxa, Coumadin (warfarin),
        Lovenox). Make sure you know what to do with these medications at least
        1 week before the procedure.
    </li>
    <li>
        Unless otherwise noted, <span class="underline">take</span> all your
        <span class="font-bold">blood pressure and heart medications</span> as
        you usually do.
    </li>
</ul>
