<p>
    Due to the sedation that you will be given during the procedure,
    <span class="font-bold"
        ><span class="uppercase underline"
            >you must arrange for someone to drive you home</span
        > and you may not operate any moving vehicle until the following day</span
    >. This is a California State Law.
    <span class="underline">
        If you plan on taking a taxi or bus, you must have someone with you to
        accompany you home</span
    >.
</p>
