---
import StaffName from '../components/StaffName.astro';

interface Props {
    text: string;
}

const { text } = Astro.props;
---

<header class="absolute left-12 top-8 print:hidden">
    <div class="grid grid-cols-2 grid-rows-1 gap-x-6">
        <div class="flex flex-row items-center gap-1">
            <a href="/" class="font-medium text-zinc-400 hover:text-black"
                >Home</a
            >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-4 w-4 text-zinc-500">
                <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
            </svg>
            <span>{text}</span>
        </div>
        <StaffName />
    </div>
</header>
