<div class="flex flex-row items-center gap-1">
    <p>Staff:</p>
    <input
        type="text"
        placeholder="Type your name"
        x-ref="nametag"
        x-on:keyup.enter="$refs.nametag.blur()"
        x-bind:class="staffName === '' ? 'rounded border border-zinc-300' : ''"
        x-model="staffName"
        class="w-48 px-2 py-0.5"
    />
</div>
