<div class="flex flex-row items-center gap-1">
    <p>Staff:</p>
    <input
        type="text"
        placeholder="Type your name"
        x-ref="nametag"
        x-on:keyup.enter="$refs.nametag.blur()"
        x-bind:class="staffName === 'mt-0.5' ? 'rounded border border-zinc-400' : ''"
        x-model="staffName"
        class="px-1 py-0.5"
    />
</div>
