<footer>
    <p>
        Built by Elliott. Please send me a message if any changes are needed,
        such as broken functionality and feature requests/changes. A screenshot
        may be helpful.
    </p>
</footer>
